@using Sitecore.Mvc

<!DOCTYPE html>
<html>
<head>

    <title>Code camper</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../../../../../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
</head>
<body>
<div class="container">
    <div>
        @Html.Sitecore().Placeholder("Header")
    </div>
    <div>
        <h1>CodeCamper</h1>
        <hr/>
    </div>
    <div>
        @Html.Sitecore().Placeholder("Content")
    </div>
    <div>
        @Html.Sitecore().Placeholder("Footer")
    </div>
</div>

    <!-- bower:js -->
    <script src="../../../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
</body>
</html>