@using Sitecore.Mvc

<!DOCTYPE html>
<html>
<head>
    <title>Code camper</title>
</head>
<body>
    <div class="container">
        <div>
            @Html.Sitecore().Placeholder("Header")
        </div>
        <div>
            @Html.Sitecore().Placeholder("Content")
        </div>
        <div>
            @Html.Sitecore().Placeholder("Footer")
        </div>
    </div>
</body>
</html>