@model Sessions.Models.SessionModel
@using PT.Framework.SitecoreExtensions
@using Sessions
@using Sitecore.Data
@using Sitecore.Mvc

<h1>Session</h1>

<h2>@Model.Subject</h2>

<h4>@Model.Description</h4>
<p>@Model.Text</p>

<!-- You need to reference a custom model in Sitecore. Otherwise it will just feed a RenderingModel to the view.
    Model reference:
    /sitecore/layout/Models/Components/Domain/Sessions/Session
-->

